
.vs/
.vscode/
*.user
*.suo
*.sdf
*.opensdf
*.opendb


out/
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.a
*.lib
*.so
*.dll
*.dylib
*.pdb
*.ilk
*.exp


*.tmp
*.log
*.cache
*.stamp


Thumbs.db
.DS_Store
desktop.ini


*.dmp
*.crash